body {
  background-image: url("../img/palace.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.jumbotron{
  background-color: transparent;
 background-image: url("../img/pizza.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: 90%;
 text-align: center;
 font-family: sans;
 margin-left: 30%;
 margin-right: 30%;

}
h1{
   font-size: 100px;
}
.col-md-3{
  border: green solid 4px;
  background: transparent;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
button{
  display: block;
  margin: auto;
}
#finishedPizza{
  display: block;
  margin: auto;
}
