body {
  background-image: url("../img/palace.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: monospace;
}
.jumbotron{
  background-color: transparent;
 background-image: url("../img/pizza.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: 90%;
 text-align: center;
 font-family: sans;
 margin-left: 30%;
 margin-right: 30%;
 color: #664c60;
}
h1{
   font-size: 100px;
}
.col-md-3{
  border: #b2c87f solid 4px;
  background-image: url("../img/order.jpg");
  margin: auto;
  font-weight: bold;
  font-size: 15px;
}
h3{
  font-weight: bold;
  font-family: sans;
}
#sizeDisplay {
  text-align: center;
}
button{
  display: block;
  margin: auto;
}
.col-md-4{
  display: block;
  background-image: url("../img/complete.jpg");
  background-size: cover;
  border: #ff7ecc solid 5px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
h4{
  font-weight: bold;
  font-family: sans;
  font-size: 50px;
  color: #ff3f9f;
}
